body    {font-family: 'Sans-Serif', 'Gill Sans MT', 'Calibri', 'Trebuchet MS';
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;}

#presentation-box{
        width: 50%;
        text-align: left;
        padding: 5%;}

#image-box{
        width: 340px;
        padding: 20px 2% 2px 2%;}

#container {
    width: 100%;
    margin: 5%;
    justify-content: left;
    display:flex;
    justify-content:space-between;}